.BlogEntry_Controller , .BlogHolder_Controller  {
z-index:0;
position:relative;
	}
		
.BlogEntry_Controller #BgContainer, .BlogHolder_Controller #BgContainer {
argin-left: 0px;
width: 1080px;
z-index:0;
position:relative;
}

.BlogEntry_Controller #Container, .BlogHolder_Controller #Container {
	width: 1080px;
	background-image: none;
	z-index:0;
position:relative;
}

.BlogEntry_Controller #Layout, .BlogHolder_Controller #Layout{
	width:1080px;
	position:relative;
	display:block;
	}

.blogContent {
	margin: 0;
	text-align: left;
	z-index:0;
	position:relative;
}

.BlogError {
	text-align: center;
}
/* IE cuts the bottom of the tags off */
* html #Sidebar p.tagcloud {
	padding-bottom: 10px;
}
.BlogError p {
	color: #fff;
	display: inline;
	background-color:	#f77;
	padding: 7px;
	font-weight:bold;
}

#BlogEntry_Form_BlogEntryForm #ContentLabel{
	display:inline;
}

#BlogEntry_Form_BlogEntryForm .CompositeField {
	position: relative;
	width: 100%;
}

#BlogEntry_Form_BlogEntryForm #BBCodeHint {
	cursor: pointer;
	font-size:0.8em;
	position: absolute;
	left: 240px;
	top: 3px;
}
#BlogEntry_Form_BlogEntryForm #BBTagsHolder{
	display: block;
	position: absolute;
	top: 30px;
	left: 325px;
}

.blogContent h2 a{
	font-size:90%;
}

.blogSummary {
/*    background: url("../images/transparency_000000_10.png") repeat scroll 0 0 transparent;*/
	margin-bottom: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
    position:relative;
}

#Content label{
	margin-top: 0px;
}
#Layout p.authorDate,
#Layout p.tags {
	font-size: 0.9em;
	color: #777;
	margin: -15px 0 12px 0;
}
p.blogVitals {
	border-top: 1px dotted #C4C4C4;
    color: #999999;
    margin: 0;
    padding-top: 5px;
    text-align: right;
}

a#editpost{
	background: url(../images/edit.gif) no-repeat left center;
	padding: 3px 0 3px 25px;
	text-decoration:none;
}

a#editpost:hover{
	color:#636363;
}

a#unpublishpost{
	background: url(../images/delete.gif) no-repeat left center;
	padding: 3px 0 3px 25px;
	text-decoration:none;
}

a#unpublishpost:hover{
	color:#636363;
}

.slogan3{
	font-size:10px;
}

.sidebarBox{
margin:0 0px;
margin-bottom:30px;
}

.sidebarBottom{
	border-bottom: 1px solid #C2C2C2;
    margin-bottom: 25px;
    width: 260px;
}

/*Comments styling*/
#PageComments {
	font-size:0.8em;
	line-height:0.8em!important;
	margin:0;
}
#PageComments li{
	border-top:1px solid #f5f5f5;
	background-image: url('../images/a2.gif');
	background-repeat: repeat-x;
	background-position: top left!important;
	padding:20px 0 0 0;
	margin:0;
}
#PageComments li.first{
	margin-top:0!important;
}
.comment{
	margin:0px 20px!important;
}
.info span{
	font-size:.8em!important;
	color:#999;
	margin-left:20px!important;
}
.actionLinks li{
	padding-top:0!important;
	border:none!important;
	background-image:none!important;
	font-size:.8em!important;
}
.actionLinks li a{
	text-decoration:none;
}
.actionLinks li a:hover{
	color:#636363;
	background-image:none;
	background-color:transparent!important;
}

#bloglcol {
border-radius: 0px 10px 10px 0px;
float:right;
margin-left:0px;
padding-left:0px;
padding-top: 20px;
width:305px;
}

#blogrcol {
	 background: none repeat scroll 0 0 white;
    border-radius: 10px 0 10px 10px;
    float: left;
    margin-left: 0;
    padding-left: 0;
    padding-top: 20px;
    position:relative;
    width: 725px;
    z-index:0;
}

#bloglcol h3{
	font-size:17px;
	font-weight:normal;
	margin-bottom:7px;
}

.blogSummaryText{
	float:right;
	width:270px;
	border:red;
}

.blogSummaryImageContainer{
	float:left;
	width:200px;
	border:red;
	}

.blogSummaryImage{
	width:190px;
	-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.6);
	-moz-box-shadow: 0px 2px 10px rgba(0,0,0,.6);
	box-shadow: 0px 2px 10px rgba(0,0,0,.6);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
	/* For IE 5.5 - 7 */
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	}
	
	#blogrcol .typography label{
		margin-bottom:0px;
	}
	
	.blogEntry .date, .blogSummary .date{
	background: none repeat scroll 0 0 #AFD8EC;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4);
    color: #7B7C77;
    left: -35px;
    margin-left:-30px;
    padding: 0;
    position: absolute;
    text-align: center;
    top: 5px;
    width: 65px;
    z-index: 300;
	}
	
	 .date span {
    display: block;
	}
	
	.date 	.dateMonth{ }
	.date 	.dateDay{font-size: 30px; }
	.date 	.dateYear{ }
	
	.blogEntry{
		padding: 0 20px;
		position: relative;
		z-index:0;;
	}
	.blogEntry img{
		max-width:690px;
		-webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.4);
		-moz-box-shadow: 0px 2px 10px rgba(0,0,0,.4);
		box-shadow: 0px 2px 10px rgba(0,0,0,.4);
		-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000')";
		/* For IE 5.5 - 7 */
		filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000');
	}
	
	.BlogEntry_Controller #main, .BlogHolder_Controller #main{
		background:#caeae8;
		padding-top: 0px;
		padding-bottom: 0px;
/*		width: 880px;*/
		width: 1080px;	
}
	
		.BlogEntry_Controller #mySearchDiv, .BlogHolder_Controller #mySearchDiv{
			right:140px;	
		}

	
	.BlogEntry_Controller #addthis, .BlogHolder_Controller #addthis{
		display:none;
	}
	
	.blogSummary #addthis{
		display:block;
	}
	
	.BlogEntry_Controller #mainContent, .BlogHolder_Controller #mainContent{
    	margin-left: 0px;
/*		width: 880px;*/
		width: 1080px;	
}

.fb_ltr{
	width:480px;
	
}

.fbComments{
	width:300px;
}

